<!DOCTYPE html>
<html lang="en">

<head>
	<title>Simple File Sender{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" src="{{STATIC_URL}}css/bootstrap.min.css">
  <link rel="stylesheet" src="{{STATIC_URL}}css/jquery.fileupload-ui.css">
  <link rel="stylesheet" src="{{STATIC_URL}}css/style.css">

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/vendor/jquery.ui.widget.js"></script>

  <script type="text/javascript" src="{{STATIC_URL}}js/cors/jquery.postmessage-transport.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/cors/jquery.xdr-transport.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fileupload-fp.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fileupload-ui.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fileupload.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.iframe-transport.js"></script>
	{% block head %}{% endblock head %}
</head>

<body>
  {% block body %}{% endblock body %}
</body>

</html>