{% extends 'base.html' %}

{% block css %}
<link href="{{STATIC_URL}}css/index.css" rel="stylesheet">
{% endblock css %}

{% block js %}
  <script src="{{STATIC_URL}}js/index.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}js/jquery.filedrop.js" type="text/javascript"></script>

{% endblock js %}

{% block body %}

<form id="file-form" action="/upload" enctype="multipart/form-data" method="post">
<p>
File:
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>

<div id="dropbox">
    <span class="message">Drop images here to upload. <br /><i>(they will only be visible to you)</i></span>
</div>

{% endblock body %}